@charset "UTF-8";
/* BOTINES */
.marca {
  text-align: center;
  font-size: 45px;
  padding: 5px;
  font-family: Helvetica-Neue;
}

.productos__contenedor {
  flex-direction: column;
  /* Marca botines */
  /* Contenedor modelos botines */
}
.productos__contenedor .productos__contenedor__marca {
  font-size: 15px;
  margin: 10px;
  text-align: center;
  flex-wrap: wrap;
}
.productos__contenedor .productos__contenedor__modelos {
  flex-direction: column;
  flex-flow: wrap;
  font-size: 20px;
  margin: 10px;
}
.productos__contenedor .productos__contenedor__modelos .productos__contenedor__modelos__botin {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  border: solid 1px rgb(172, 167, 167);
  border-radius: 10px;
  padding: 2px;
  margin: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  /* Imagenes de los botines*/
}
.productos__contenedor .productos__contenedor__modelos .productos__contenedor__modelos__botin .precio {
  font-size: 20px;
  font-weight: bold;
}

/* Boton añadir al carrito */
.carrito {
  background-color: rgb(9, 42, 85);
  color: rgb(255, 255, 255);
  border: solid 1px black;
  border-radius: 10px;
  padding: 7px;
  margin: 4px;
}

.card-container {
  /* Extiendo las caracteristicas de display, justify content y align items*/
  margin: 5px;
  flex-wrap: wrap;
}
.card-container .card {
  width: 18rem;
}
.card-container .card .card-body {
  text-align: center;
}
.card-container .card img {
  width: auto;
  height: 330px;
}

.card:hover {
  cursor: pointer;
  transition: 1.5s;
  transform: scale(1.2);
}

/* Barra de navegación */
.navbar {
  padding: 10px;
  background-color: #edf0f5;
  justify-content: space-between;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#search-form {
  display: none;
}

#navbar:hover #search-form {
  display: block;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.navbar-logo {
  grid-column: 1;
}

.navbar-menu {
  grid-column: 2;
  text-align: center; /* Alinea el menú en el medio horizontalmente */
}

.img-navbar {
  display: grid;
  grid-column: 3;
  align-items: center;
  /* Alinea las imágenes a la derecha */
}

.navbar-nav li {
  padding: 6px;
  font-size: 25px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgb(47, 145, 88);
}

.nav-link:active {
  color: rgb(59, 59, 155);
}

/* Boton de busqueda */
#boton {
  text-decoration: none;
  color: green;
}

/* Logo de la navbar*/
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#logo-inicio {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 40px;
}

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MEDIAS */
.productos__contenedor__accesorio {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.productos__contenedor__accesorio .productos__contenedor__modelos__medias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  /* Imagenes de las medias */
  /* Titulo modelo media */
  /*Precio de las medias*/
}
.productos__contenedor__accesorio .productos__contenedor__modelos__medias img {
  width: 150px;
  height: 150px;
}
.productos__contenedor__accesorio .productos__contenedor__modelos__medias p {
  font-size: 15px;
}
.productos__contenedor__accesorio .productos__contenedor__modelos__medias .precio {
  font-size: 20px;
  font-weight: bold;
}
.productos__contenedor__accesorio .productos__contenedor__modelos__canilleras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  /* Imagenes canilleras */
}
.productos__contenedor__accesorio .productos__contenedor__modelos__canilleras img {
  width: 150px;
  height: 150px;
}
.productos__contenedor__accesorio .productos__contenedor__modelos__canilleras .precio {
  font-size: 20px;
  font-weight: bold;
}

.talles {
  margin: 10px;
  flex-direction: column;
}
.talles h2 {
  font-family: Helvetica-Neue;
  width: 100%;
  color: rgb(0, 0, 0);
}
.talles .talles__niño {
  flex-direction: column;
}
.talles .talles__niño img {
  width: 300px;
  height: 200px;
}
.talles .talles__adulto {
  font-family: Helvetica-Neue;
  flex-direction: column;
}
.talles .talles__adulto img {
  width: 300px;
  height: 350px;
}

/* Footer */
.pieDePagina {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  text-align: center;
  /* Parrafo del footer */
  /* Logo del footer */
}
.pieDePagina p {
  font-size: 18px;
  text-align: center;
}
.pieDePagina .copyright {
  padding: 10px;
}
.pieDePagina .pieDePagina__pago img {
  width: 300px;
  height: 150px;
}
.pieDePagina #pieDePagina__logo {
  height: 60px;
  width: 60px;
}
.pieDePagina .pieDePagina__publicidad {
  background-color: rgb(4, 20, 109);
  color: white;
}
.pieDePagina .pieDePagina__publicidad__boton {
  border: solid 1px black;
  border-radius: 50px;
  text-align: left;
}
.pieDePagina .pieDePagina__publicidad__boton a {
  text-decoration: none;
  color: rgb(4, 20, 109);
  padding: 10px;
}

/* MAIN */
.index__main {
  /* Logo del main */
}
.index__main .hero-principal {
  flex-direction: column;
  background-color: rgb(22, 31, 63);
}
.index__main .hero-principal #logoPepes {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  padding: 10px;
}

#img-carousel {
  height: 400px;
}

.carousel-inner {
  text-align: center;
  padding: 10px;
  background-color: rgb(237, 240, 245);
}

/*Botines Adidas Copa Edicion Limitada*/
.titulo-copa {
  font-family: Helvetica-Neue;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.nombre-copa {
  font-family: Helvetica-Neue;
  font-size: 20px;
  text-align: center;
}

.botines__copa {
  flex-direction: column;
}
.botines__copa #botines__copa__img {
  width: 400px;
  height: 400px;
}

/*Boton comprar Adidas Copa*/
.boton .boton-comprar {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}
.boton .boton-comprar a {
  text-decoration: none;
  color: white;
}

.redes {
  flex-direction: column;
  /* Parrafo que acompaña al logo de Instagram */
}
.redes p {
  font-size: 20px;
  margin: 20px;
}

/* Logo de Instagram */
#instagram {
  width: 80px;
  height: 80px;
}

.productos__contenedor, .productos__contenedor .productos__contenedor__marca, .productos__contenedor .productos__contenedor__modelos, .productos__contenedor .productos__contenedor__modelos .productos__contenedor__modelos__botin, .card-container, .talles, .talles .talles__niño, .talles .talles__adulto, .pieDePagina, .index__main .hero-principal, .botines__copa, .boton, .boton .boton-comprar a, .redes, .redes p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*El carousel soló se verá para dispositivos moviles*/
@media (min-width: 450px) {
  #carouselExample {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* Barra de navegacion */
  .navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hero-principal {
    background-color: rgb(22, 31, 63);
  }
  .logo-main {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 10px;
  }
  .carousel-inner {
    background-color: rgb(237, 240, 245);
  }
  .carousel-item h2 {
    font-size: 22px;
  }
  /*El carousel de imagenes soló estará disponible para dispositivos moviles*/
  #carouselExample {
    display: none;
  }
  /* Botines */
  /* Marca botin */
  .productos__contenedor__marca {
    margin-top: 20px;
  }
  /* Modelo botin */
  .productos__contenedor__modelos__botin {
    font-size: 30px;
    margin: 5px;
    padding: 1px;
    /* Imagenes botines */
  }
  .productos__contenedor__modelos__botin img {
    width: 300px;
    height: 300px;
  }
  /* Añadir al carrito */
  .carrito {
    font-size: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  /* Medias */
  .productos__contenedor__accesorio {
    font-size: 50px;
  }
  .productos__contenedor__modelos__medias {
    margin: 2px;
    /* Imagenes medias */
    /* Titulo modelo media */
  }
  .productos__contenedor__modelos__medias img {
    width: 300px;
    height: 300px;
    border: 3px rgb(202, 195, 195);
    text-align: center;
  }
  .productos__contenedor__modelos__medias p {
    font-size: 25px;
  }
  /* Canilleras */
  .productos__contenedor__modelos__canilleras {
    margin: 2px;
  }
  .productos__contenedor__modelos__canilleras img {
    border: 3px rgb(202, 195, 195);
    width: 350px;
    height: 350px;
  }
  .productos__contenedor__modelos__canilleras p {
    font-size: 45px;
  }
  /* Precios. Se aplica a Botines, Canilleras y medias */
  .precio {
    font-size: 30px;
  }
  .redes {
    margin: 50px;
    /* Parrafo que acompaña al logo de Instagram */
    /* Logo de Instagram */
  }
  .redes p {
    font-size: 200px;
  }
  .redes #instagram {
    width: 120px;
    height: 120px;
  }
  .botines__copa {
    flex-direction: row;
  }
  .botines__copa #botines__copa__img {
    width: 690px;
    height: 600px;
  }
  .boton-comprar a {
    font-size: 30px;
  }
  /*Equivalencias*/
  #talles__niño__img {
    width: 310px;
    height: 200px;
  }
  #talles__adulto__img {
    width: 300px;
    height: 320px;
  }
  /* Footer */
  .pieDePagina p {
    font-size: 23px;
  }
  #pieDePagina__logo {
    height: 70px;
    width: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
