/* MEDIAS */
.main__accesorios {
    .info-medias {
        font-size: 30px;
        margin: 20px;
        text-align: center;
        font-family: $fuente-botines;
    }

    /* Imagenes de las medias */
    img {
        width: 100%;
    }

    /* Titulo modelo media */
    p {
        font-size: 15px;
    }


    .card-title-medias {
        font-size: 25px;
        font-weight: 800;
    }

    /*Precio de las medias*/
    .precio {
        font-size: 22px;
    }




}