/* MEDIAS */
.main__accesorios {
    
    .card-container.card{

        margin: 20px;
    }
    .info-medias {
        font-size: 25px;
        text-align: center;
        margin: 10px;
        font-family: $fuente-botines;
    }

    .card-title-medias {
        font-size: 25px;
        font-weight: 800;
    }

    /*Precio de las medias*/
    .precio {
        font-size: 22px;
    }


}