/* h1 para Botines y Medias. Mismas caracteristicas  */
.titulos{
    text-align: center;
    font-size: 35px;
    background-color: $color-azul;
    color: white;
    padding: 10px;
}
.d-flex{
    margin: 10px;
}
.marca {
    text-align: center;
    font-size: 45px;
    font-family: Helvetica-Neue;
}

.productos__contenedor {
    @extend %flex-center;
    flex-direction: column;

    /* Marca botines */
    .productos__contenedor__marca {
        font-size: 15px;
        margin: 10px;
        text-align: center;
        @extend %flex-center;

        flex-wrap: wrap;
    }

    /* Contenedor modelos botines */
    .productos__contenedor__modelos {
        @extend %flex-center;
        flex-direction: column;
        flex-flow: wrap;
        font-size: 20px;

        .productos__contenedor__modelos__botin {
            @extend %flex-center;
            flex-direction: column;
            text-align: center;
            font-size: 18px;
            border: solid 1px rgb(172, 167, 167);
            border-radius: 10px;
            padding: 2px;
            margin: 1px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

            /* Imagenes de los botines*/

            .precio {
                font-size: 20px; 
            }
        }
    }

}

/* Boton añadir al carrito */
.carrito {
    color: rgb(255, 255, 255);
    border: solid 1px $color-negro;
    border-radius: 10px;
    padding: 7px;
    margin: 4px;
}

.card-container {
    /* Extiendo las caracteristicas de display, justify content y align items*/
    @extend %flex-center;
    flex-wrap: wrap;

    .card {
        width: 19rem;
        margin: 5px;
        .card-body {
            text-align: center;
        }
        .card-title{
            font-size: 16px;
            font-weight: 800;
        }
        img {
            width: auto;
            height: 330px;
        }
    }
}

.card:hover {
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.1);
}