.redes{
    h1{
        text-align: center;
        padding: 20px;
    }
}
.mb-3{
    margin: 10px;
    @extend %flex-center;
    flex-direction: column;
}
.form-label{
    font-size: 22px;
}

/* Logo de Instagram  y de Facebook*/
#instagram{

    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 25px;
}

.btn btn-secondary{
padding: 10px;
}


.section__main__contacto{
    .card__contacto{
        @extend %flex-center;
        padding: 10px;
            .card__contacto__redes{
            @extend %flex-center;
            text-align: center;
            flex-direction: column;
            width: 300px;
            height: 400px;
            background-color: rgb(50, 83, 107);
            margin: 5px;
            border-radius: 10px;
            color: white;
            font-size: 20px;
        }
        
            .card__contacto__ubicacion{
            font-size: 20px;
            @extend %flex-center;
            flex-direction: column;
            width: 300px;
            height: 400px;
            padding: 10px;
            background-color:rgb(50, 83, 107);
            margin: 5px;
            border-radius: 10px;
            color: white;
            
        iframe{
            width: 280px;
            height: 300px;
            border-radius: 5px;
        }
    }
    }
}

