.talles {
    margin: 10px;
        @extend %flex-center;
        flex-direction: column;
        h2{
            font-family: Helvetica-Neue;
            width: 100%;
            color: rgb(0, 0, 0);
        }
        .talles__niño{
            @extend %flex-center;
            flex-direction: column;
            img{
                width: 300px;
                height: 200px;
                
            }
        }
        .talles__adulto{
            font-family: Helvetica-Neue;
            @extend %flex-center;
            flex-direction: column;
            img{
                width: 300px;
                height: 350px;
            }
        }
}

