/* Footer */

.pieDePagina {
    background-color: rgb(255, 255, 255);
    @extend %flex-center;
    flex-direction: column;
    text-align: center;
    
    /* Parrafo del footer */
    p {
        font-size: 18px;
        text-align: center;
    }
    .copyright{
        padding: 10px;
    }
    .pieDePagina__pago {
        img{
        width: 300px;
        height: 150px;
    }
}
    
    /* Logo del footer */
    #pieDePagina__logo {
    height: 60px;
    width: 60px;
    }

    .pieDePagina__publicidad{
    background-color: rgb(4, 20, 109);
    color: white;
    }
    .pieDePagina__publicidad__boton{

        border: solid 1px black;
        border-radius: 50px;
        text-align: left;
        a {
            text-decoration: none;
            color:rgb(4, 20, 109);
            padding: 10px;

        }
    }

}
