
.pieDePagina {
    background-color: rgb(238, 238, 238);
    color: $color-azul;

    padding: 10px;
    text-align: center; 
    /* Parrafo del footer */
    p {
        font-size: 18px;
        text-align: center;
    }
    .copyright{
        padding: 10px;
    }

}
    
    /* Logo del footer */
    #pieDePagina__logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    }
