/* MAIN */
body {
    position: relative;
    padding-bottom: 17em;
    min-height: 200vh;
}

.index__main {
    .titulo_index {
        font-size: 40px;
        color: rgb(13, 25, 92);
        text-align: center;
        margin: 10px;
        font-family: $fuente-botines
    }

    /* Logo del main */
    .hero-principal {
        @extend %flex-center;
        flex-direction: column;

        #logoPepes {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            padding: 10px;
        }
    }
}


.carousel-inner {
    text-align: center;
    background-color: rgb(237, 240, 245);
}



.carousel-item {
    background-color: $color-azul;

    p {
        padding-top: 10px;
        font-size: 18px;
        text-align: center;
        color: white;
    }
}

.titulo-phantom {
    font-family: $fuente-botines;   
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.info-phantom {
    font-size: 20px;
    font-family: $fuente-botines;
    padding-top: 5px;
    margin: 10px;
    text-align: center;
}

/*Botines Adidas Copa Edicion Limitada*/
.botines-copa-main {
    .titulo-copa {
        font-family: Helvetica-Neue;
        margin: 10px;
        text-align: center;
        font-size: 35px;
    }

    .nombre-copa {
        font-family: Helvetica-Neue;
        font-size: 25px;
        text-align: center;

    }

    .info-copa {
        font-size: 20px;
        font-family: Helvetica-Neue;
        padding: 10px;
        text-align: center;
    }
}

.botines__copa {
    @extend %flex-center;
    flex-direction: column;

    #botines__copa__img {
        width: 320px;
    }
}

/*Boton comprar Adidas Copa*/
.boton {
    @extend %flex-center;

    .boton-comprar {
        background-color: #212529;
        border-radius: 10px;
        font-size: 20px;
        margin: 10px;

        a {
            @extend %flex-center;
            text-decoration: none;
            color: white;
        }
    }

}