
/*Mismas caracteristicas para los h1 de todas las paginas */
.titulos{
    text-align: center;
    font-size: 35px;
    background-color: rgb(24, 54, 77);
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Propiedades aplicadas al body para que el footer quede sobre el final de la pagina*/
body {
/*    position: relative;
    padding-bottom: 14em;
    min-height: 150vh;*/
    background-color: rgb(252, 252, 252);
}

/*Index*/
.index__main {
    .titulo_index {
        font-size: 40px;
        text-align: center;
        margin: 0px;
        color: $color-azul;
        padding: 20px;
        font-family: sans-serif;
    }

    /* Logo del main */
    .hero-principal {
        background-color: white;
        color: $color-azul;
        @extend %flex-center;
        flex-direction: row;

        /*Logo de la pagina*/
        #logoPepes-main {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding: 10px;
            margin: 10px;
        }
    }
    .carousel-inner {
        text-align: center;
        background-color: rgb(237, 240, 245);
    }
}

.carousel-item {
    background-color: rgb(24, 54, 77);

    p {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
        color: white;
    }
}


.info-phantom {
    font-family: Helvetica-Neue;
    background-color: $color-azul;
    color: white;
    text-align: center;
    .titulo-phantom{
        font-size: 35px;
        font-family: Helvetica-Neue;   
        text-align: center;
        padding: 10px;

    }
    .phantom{
        font-size: 25px;
        padding: 10px;
    }
}

/*Botines Adidas Copa Edicion Limitada*/
.botines-copa-main {
    background-color: rgb(20, 31, 66);
    .titulo-copa {
        font-family: Helvetica-Neue;
        margin: 10px;
        text-align: center;
        font-size: 35px;
        color: white;
    }

    .nombre-copa {
        font-family: Helvetica-Neue;
        font-size: 30px;
        text-align: center;
        color: $color-blanco;
        padding: 20px;
    }
    .info-copa {
        background-color: $color-azul;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
    .info-copa2 {
        font-size: 25px;
        padding: 10px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
}

.botines__copa {
    @extend %flex-center;
    flex-direction: column;

    #botines__copa__img {
        width: 100%;
    }
}

/*Boton comprar Adidas Copa*/
.boton {
    padding-bottom: 40px;
    @extend %flex-center;

    .boton-comprar {
        background-color: $color-blanco;
        border-radius: 10px;
        font-size: 25px;
        margin: 10px;
        padding: 10px;
        width: 320px;


        a {
            @extend %flex-center;
            text-decoration: none;
            color: black;
        }
    }

}