/* Barra de navegación */

.navbar {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}
#search-form {
    display: none;
}

#navbar:hover #search-form {
    display: block;
}

.navbar-nav{
    @extend %flex-center;
}


 /* Alinea las imágenes a la derecha */

.navbar-nav li{
    padding: 6px;
    font-size: 25px;
}

.nav-link{
    font-size: 20px;
    color: black;
}
.nav-link:hover{
    color: rgb(47, 145, 88);
}

.nav-link:active{
    color: rgb(59, 59, 155);
}

/* Logo de la navbar*/
#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#logo-inicio{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 50px;
}