/*El carousel soló se verá para dispositivos moviles*/

@media (min-width: 450px) {
    #carouselExample {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* Barra de navegacion */
    .navbar {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .index__main {
        .titulo_index {
            font-size: 60px;
            color: $color-azul;
            text-align: center;
            ;
            font-family: $fuente-botines
        }

        /* Logo del main */
        .hero-principal {
            #logoPepes {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-bottom: 20px;
            }
        }
    }

    /*Logo de pepes y h1*/

    /*Fondo del carousel con desplazamiento automatico*/
    .carousel-inner {
        p {
            font-size: 25px;
        }
    }

    /*El carousel de imagenes soló estará disponible para dispositivos moviles*/
    #carouselExample {
        display: none;
    }

    /*Botines Adidas Copa del inicio de la pagina*/
    .botines-copa-main {
        .titulo-copa {
            font-size: 40px;
        }

        .nombre-copa {
            font-size: 30px;
        }

        .info-copa {
            text-align: center;
            font-size: 25px;
            margin: 20px;
        }

        /*Imagen Adidas copa */
        #botines__copa__img {
            width: 700px;
            height: 650px;
        }
    }


    .titulo_registro {
        font-size: 30px;
    }

    /* Botines */
    /* Marca botin */
    .productos__contenedor__marca {
        margin-top: 20px;
    }

    /* Modelo botin */
    .productos__contenedor__modelos__botin {
        font-size: 30px;
        margin: 5px;
        padding: 1px;

        /* Imagenes botines */
        img {
            width: 300px;
            height: 300px;
        }
    }

    /* Añadir al carrito */
    .carrito {
        font-size: 15px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }

    /* Medias */
    .productos__contenedor__accesorio {
        font-size: 60px;
    }

    .productos__contenedor__modelos__medias {
        margin: 2px;

        /* Imagenes medias */
        img {
            width: 300px;
            height: 300px;
            text-align: center;
        }

        /* Titulo modelo media */
        p {
            font-size: 35px;
        }
    }

    /* Precios. Se aplica a Botines, Canilleras y medias */
    .precio {
        font-size: 30px;
    }

    .redes {
        margin: 50px;

        /* Parrafo que acompaña al logo de Instagram */
        p {
            font-size: 200px;
        }

        /* Logo de Instagram */
        #instagram {
            width: 120px;
            height: 120px;
        }
    }

    .boton-comprar {
        a {
            font-size: 30px;
        }
    }

    /*Equivalencias*/
    .talles {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin: 20px;
        padding: 10px;
    }

    #talles__niño__img {
        width: 310px;
        height: 420px;
        margin: 10px;
    }

    #talles__adulto__img {
        width: 310px;
        height: 650px;
        margin: 10px;
    }

    /* Footer */


    .card-container {
        .card {
            margin: 10px;
        }
    }

    /*h1 */
    .titulos {
        font-size: 40px;
    }

    .titulo-equivalencias {
        text-align: center;
        font-size: 40px;
        background-color: $color-azul;
        color: white;
        padding: 10px;
    }

    /* h1 para Botines y Medias. Mismas caracteristicas*/
    .mb-3 {
        margin: 40px;
    }

    body {
        position: relative;
        padding-bottom: 17em;
        min-height: 100vh;
    }


    /*Seccion contacto*/
    .section__main__contacto {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .card__contacto {
            padding: 10px;
            /*Redes de contacto*/
            .card__contacto__redes {
                width: 350px;
                height: 400px;
                margin: 5px;
                font-size: 25px;
            }

            /*Card donde se inserta el mapa de la ubicación del local*/
            .card__contacto__ubicacion {
                width: 350px;
                height: 400px;
                font-size: 25px;

                /*Mapa del local*/
                iframe {
                    width: 300px;
                    height: 300px;
                    border-radius: 5px;
                }
            }
        }
    }

    .card__medida {
        margin: 5px;
        padding: 10px;
        font-size: 25px;
    }

    .card__medida__pasos {
        flex-direction: row;
        padding: 10px;

        img {
            width: 500px;
            height: 400px;
            margin-left: 15px;
        }

        p {
            font-size: 25px;
        }
    }

    /*Registro*/
    .mb-4 {
        padding: 5px;
        margin: 5px;

        .parrafo_registro {
            font-size: 15px;
            padding: 10px;
            margin: 10px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .pieDePagina {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        p {
            font-size: 23px;
        }
    }

    #pieDePagina__logo {
        height: 70px;
        width: 70px;
    }

}