/*El carousel soló se verá para dispositivos moviles*/

@media (min-width: 480px) {
    #carouselExample {
        display: none;
    }

    .info-phantom {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        position: relative;
        padding-bottom: 12em;
        min-height: 100vh;
    }

    /* Barra de navegacion */
    .navbar {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navbar-nav {
            .nav-link {
                font-size: 20px;
                color: black;
            }
        }
    }

    /* Logo de la navbar*/
    #logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    #logo-inicio {
        display: flex;
        justify-content: flex-end;
        height: 60px;
        width: 60px;
    }

    .index__main {
        .titulo_index {
            font-size: 60px;
        }

        /* Logo del main */
        .hero-principal {
            #logoPepes {
                width: 220px;
                height: 220px;
                margin-bottom: 20px;
            }
        }
    }

    /*h1 */
    .titulos {
        font-size: 45px;
    }

    /*Logo de pepes y h1*/
    /*Fondo del carousel con desplazamiento automatico*/
    .carousel-inner {
        p {
            font-size: 25px;
        }
    }

    /*El carousel de imagenes de Nike Phantom rosados soló estará disponible para dispositivos moviles*/
    #carouselExample {
        display: none;
    }

    /*Carousel automatico con promociones*/
    .carousel-item {
        p {
            padding-top: 10px;
            font-size: 17px;
        }
    }

    /*Botines Adidas Copa del inicio de la pagina*/
    .botines-copa-main {
        .titulo-copa {
            font-size: 60px;
        }

        .nombre-copa {
            font-size: 35px;
        }

        .info-copa {
            background-color: white;
            border-radius: 10px;
            text-align: center;
            font-size: 26px;
            margin: 20px;
            color: rgb(36, 34, 34);
            height: 420px;
        }

        .info-copa2 {
            background-color: white;
            font-size: 26px;
            margin: 22px;
            text-align: center;
            color: rgb(36, 34, 34);
            border-radius: 10px;
            height: 420px;

        }
    }

    .botines__copa {
        /*Imagen Adidas copa */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        #botines__copa__img {
            width: 450px;
            height: 420px;
            margin: 30px;
            border-radius: 10px;
        }
    }

    .boton {
        display: flex;
        justify-content: center;
        align-items: center;

        .boton-comprar {
            margin: 30px;

            a {
                font-size: 30px;
            }
        }
    }

    .titulo_registro {
        font-size: 30px;
    }

    /* Botines */


    /* Añadir al carrito */
    .carrito {
        font-size: 15px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }

    /* Medias */
    .productos__contenedor__accesorio {
        font-size: 60px;
    }


    /* Precios. Se aplica a Botines, Canilleras y medias */
    .precio {
        font-size: 30px;
    }

    .redes {
        margin: 50px;

        /* Parrafo que acompaña al logo de Instagram */
        p {
            font-size: 200px;
        }

        /* Logo de Instagram */
        #instagram {
            width: 120px;
            height: 120px;
        }
    }

    /*Equivalencias*/

    .titulo-equivalencias {
        text-align: center;
        font-size: 35px;
        background-color: rgb(24, 54, 77);
        color: white;
        padding: 10px;
    }

    .talles {
        display: flex;
        justify-content: center;
        align-items: center;

        #tabla-talles {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 950px;
            height: 700px;
            padding-bottom: 20px;
        }

        #tabla-talles-mobile {
            display: none
        }
    }

    .card__medida {
        margin: 5px;
        padding: 10px;
        font-size: 18px;

        .card__medida__titulo {
            font-size: 25px;
        }

        .card__medida__pasos {
            flex-direction: row;
            padding: 10px;
            width: 950px;
            font-size: 18px;

            img {
                width: 500px;
                height: 400px;
                margin-left: 15px;
            }

            p {
                font-size: 25px;
            }
        }
    }


    /*Margen entre cada card de Botines y medias*/
    .card-container {
        .card {
            margin: 30px;
        }
    }




    /* h1 para Botines y Medias. Mismas caracteristicas*/
    .mb-3 {
        margin: 40px;
    }



    /*Seccion contacto*/
    .section__main__contacto {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .card__contacto {
            padding: 10px;

            /*Redes de contacto*/
            .card__contacto__redes {
                width: 350px;
                height: 400px;
                margin: 5px;
                font-size: 25px;
            }

            /*Card donde se inserta el mapa de la ubicación del local*/
            .card__contacto__ubicacion {
                width: 350px;
                height: 400px;
                font-size: 25px;

                /*Mapa del local*/
                iframe {
                    width: 300px;
                    height: 300px;
                    border-radius: 5px;
                }
            }
        }
    }


    /*Registro*/
    .mb-4 {
        padding: 5px;
        margin: 5px;

        .parrafo_registro {
            font-size: 15px;
            padding: 10px;
            margin: 10px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pieDePagina {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 20px;

        p {
            font-size: 23px;
        }
    }

    #pieDePagina__logo {
        height: 70px;
        width: 70px;
    }
}