/*El carousel soló se verá para dispositivos moviles*/

@media (min-width: 480px) {
    #carouselExample {
        display: none;
    }

    .info-phantom {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* Barra de navegacion */
    .navbar {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;


        .navbar-nav {
            .nav-link {
                font-size: 20px;
                color: black;
            }
            .nav-link:hover{
                color: rgb(25, 25, 212);
            }
            
            .nav-link:active{
                color: rgb(74, 86, 179);
            }
        }
    }

    /* Logo de la navbar*/
    #logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    /*Logo de la pagina de inicio*/
    #logo-usuario {
        display: flex;
        justify-content: flex-end;
        height: 60px;
        width: 60px;
    }

    /*Main del index*/
    .index__main {
        background-color: rgb(243, 243, 243);

        /*Titulo del inicio "PEPES BOTINES"*/
        .titulo_index {
            font-size: 60px;
        }

        /* Logo del main */
        .hero-principal {
            #logoPepes {
                width: 220px;
                height: 220px;
            }
        }
    }

    /* Tamaño de los h1. Aplica a todas las paginas*/
    .titulos {
        font-size: 45px;
    }

    /*Fondo del carousel con desplazamiento automatico de la pagina de inicio*/
    .carousel-inner {
        p {
            font-size: 25px;
        }
    }

    /*El carousel de imagenes de Nike Phantom rosados soló estará disponible para dispositivos moviles*/
    #carouselExample {
        display: none;
    }

    /*Carousel automatico con promociones y metodos de pago.*/
    .carousel-item {
        p {
            padding-top: 10px;
            font-size: 17px;
        }
    }

    /*Botines Adidas Copa del inicio de la pagina*/
    .botines-copa-main {
        background-color: $color-azul;

        .nombre-copa {
            padding-top: 20px;
            font-size: 35px;
        }

        /*Informacion de los botines del lado izquierdo*/
        .info-copa {
            background-color: rgba(255, 255, 255, 0.205);
            border-radius: 10px;
            text-align: center;
            font-size: 26px;
            margin: 20px;
            color: white(36, 34, 34);
            height: 420px;
        }

        /*Informacion de los botines del lado derecho*/
        .info-copa2 {
            background-color: rgba(255, 255, 255, 0.205);
            font-size: 26px;
            margin: 22px;
            text-align: center;
            color: $color-blanco;
            border-radius: 10px;
            height: 420px;
        }

        .botines__copa {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            /*Imagen Adidas copa */
            #botines__copa__img {
                width: 450px;
                height: 420px;
                margin: 30px;
                border-radius: 10px;
            }
        }
    
        /*Boton para comprar los botines Adidas Copa del inicio*/
    .boton {
        display: flex;
        justify-content: center;
        align-items: center;

        .boton-comprar {
            margin: 30px;
            width: 300px;

            /*Enlace en el boton "Comprar" que direcciona a la pagina Botines.*/
            a {
                font-size: 25px;
            }
        }
        }
    }
    .main__equivalencias {
        .main__equivalencias__titulo {
            
            .card__medida__titulo {
                font-size: 25px;
            }
        }
        .card__medida__pasos {
            padding: 10px;
            font-size: 18px;
            flex-direction: row;   

            p {
                font-size: 25px;
            }
    
            img {
                width: 500px;
                height: 400px;
                margin-left: 15px;
            }
        }

    .talles {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .tabla-talles {
            display: flex;
            justify-content: center;
            align-items: center;
                width: auto;
            height: 700px;
            padding-bottom: 20px;
        }

        .tabla-talles-mobile {
            display: none;
        }
    }
}   



    /*Margen entre cada card de Botines y medias*/
    .card-container {
        .card {
            margin: 30px;
        }
    }

    /*SECCION CONTACTO */
    .section__main__contacto {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .card__contacto {
            padding: 10px;

            /*Redes de contacto*/
            .card__contacto__redes {
                width: 350px;
                height: 400px;
                margin: 5px;
                font-size: 25px;
            }

            /*Card donde se inserta el mapa de la ubicación del local*/
            .card__contacto__ubicacion {
                width: 350px;
                height: 400px;
                font-size: 25px;

                /*Mapa del local*/
                iframe {
                    width: 300px;
                    height: 300px;
                    border-radius: 5px;
                }
            }
        }
    }

    /*REGISTRO*/
    .mb-4 {
        padding: 5px;
        margin: 5px;

        .parrafo_registro {
            font-size: 15px;
            padding: 10px;
            margin: 10px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*FOOTER*/
    .pieDePagina {
        padding-top: 20px;

        p {
            font-size: 25px;
        }

        #pieDePagina__logo {
            height: 70px;
            width: 70px;
        }
    }
}