/*El carousel soló se verá para dispositivos moviles*/

@media (min-width: 450px) {
    #carouselExample {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* Barra de navegacion */
    .navbar {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-principal{
        background-color: rgb(22, 31, 63);
    }
    .logo-main {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        padding: 10px;
    }

    .carousel-inner {
        background-color: rgb(237, 240, 245);

    }
    .carousel-item {
        h2{
            font-size: 22px;
        }
    }
    /*El carousel de imagenes soló estará disponible para dispositivos moviles*/
    #carouselExample {
        display: none;
    }

    /* Botines */
    /* Marca botin */
    .productos__contenedor__marca {
        margin-top: 20px;
    }

    /* Modelo botin */
    .productos__contenedor__modelos__botin {
        font-size: 30px;
        margin: 5px;
        padding: 1px;

        /* Imagenes botines */
        img {
            width: 300px;
            height: 300px;
        }
    }

    /* Añadir al carrito */
    .carrito {
        font-size: 15px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }

    /* Medias */
    .productos__contenedor__accesorio {
        font-size: 50px;
    }

    .productos__contenedor__modelos__medias {
        margin: 2px;

        /* Imagenes medias */
        img {
            width: 300px;
            height: 300px;
            border: 3px rgb(202, 195, 195);
            text-align: center;
        }

        /* Titulo modelo media */
        p {
            font-size: 25px;
        }
    }

    /* Canilleras */
    .productos__contenedor__modelos__canilleras {
        margin: 2px;

        img {
            border: 3px rgb(202, 195, 195);
            width: 350px;
            height: 350px;
        }
        p {
            font-size: 45px;
        }
    }

    /* Precios. Se aplica a Botines, Canilleras y medias */
    .precio {
        font-size: 30px;
    }

    .redes {
        margin: 50px;

        /* Parrafo que acompaña al logo de Instagram */
        p {
            font-size: 200px;
        }

        /* Logo de Instagram */
        #instagram {
            width: 120px;
            height: 120px;
        }
    }
    .botines__copa{
        flex-direction: row;
        #botines__copa__img{
            width: 690px;
            height: 600px;
        }
    }
    .boton-comprar{
        a{
            font-size: 30px;
        }

    }
    /*Equivalencias*/
    
    #talles__niño__img {
        width: 310px;
        height: 200px;
        
    }

    #talles__adulto__img {
        width: 300px;
        height: 320px;
    }

    /* Footer */

    .pieDePagina {
        p {
            font-size: 23px;
        }
    }

    #pieDePagina__logo {
        height: 70px;
        width: 70px;
    }
}
.card-container {
    margin: 50px;
    .card {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}
    .titulos{
        font-size: 45px;
    }

    body{
        position: relative;
        padding-bottom: 13em;
        min-height: 100vh;
    }
    .pieDePagina{
        position: absolute;
        bottom: 0;
        width: 100%;
    }