/*h1 Iniciar Sesion y registrarse*/
.titulo_registro{
    font-size: 25px;
    background-color: $color-titulos;
    text-align: center;
    color: white;
    padding: 10px;
}

.parrafo_registro{
    font-size: 17px;
    margin: 10px;
    padding: 10px;
}

.container1{
    @extend %flex-center;
    text-align: center;
    .form-label{
        width: 18rem;
    }
    .form-check{
        margin: 12px;
    }
}
