/*h1 Iniciar Sesion y registrarse*/
.titulo_registro{
    font-size: 25px;
    background-color: rgb(22, 31, 63);;
    text-align: center;
    color: white;
    padding: 10px;
}
.parrafo_registro{
    font-size: 12px;
}
.mb-3{
    margin: 10px;
}